FIBARO_URL=http://192.168.1.35
FIBARO_USERNAME=admin
FIBARO_PASSWORD=
NETATMO_CLIENT_ID=
NETATMO_CLIENT_SECRET=
NETATMO_REFRESH_TOKEN=
PORT=3000
API_TOKEN=<generate-with-openssl-rand-hex-32>
VITE_API_TOKEN=<same-value-as-API_TOKEN>
